<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>Create product</title>
    </head>
    <body>
    <div th:insert="navbar :: navbar">  </div>
        <form method="post" class="center" th:action="@{/products/createProductForm}" th:object="${ProductDto}">
            <label> Please, enter product_name of new product:</label><br>
            <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
            <span class="confirm" th:text="${productExists}">Product exists</span>
            <input type="text" placeholder="Name" th:field="*{name}"><br>
            <label>price of new product:</label><br>
            <span class="email" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</span>
            <input type="text" placeholder="Price" th:field="*{price}"><br>
            <label for="manufacturerName">manufacturer_name of new product:</label><br>
            <input type="search" list="myList" id="manufacturerName" name="manufacturerName"><br>
            <datalist id="myList">
                <option th:each="manufacturer : ${manufacturers}" th:value="${manufacturer.name}" th:text="${manufacturer.name}"></option>
            </datalist>
            <button type="submit" class="but">Create</button>
        </form>
    </body>
</html>