<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Update product</title>
</head>
<body>
<div th:insert="navbar :: navbar"></div>
<form method="post" class="center" th:action="@{/products/updateProductForm}" th:object="${ProductDto}">
    <label>Please, enter new product_name:</label><br>
    <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
    <input type="text" th:field="*{name}" placeholder="Name"><br>
    <label>Please, enter new price:</label><br>
    <span class="email" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</span>
    <input type="text" th:field="*{price}" placeholder="Price"><br>
    <label>Please, enter name of new manufacturer:</label><br>
    <span class="confirm" th:text="${manufacturerDoesNotExists}">Manufacturer does not exists</span>
    <input type="text" name="manufacturerName" placeholder="Manufacturer"><br>
    <label for="oldName">old product_name to update:</label><br>
    <span class="confirm" th:text="${productDoesNotExists}">Product does not exists</span>
    <input type="text" id="oldName" name="oldName"><br>
    <button type="submit" class="but">Update</button>
</form>
</body>
</html>