<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Create manufacturer</title>
    <style>
            .center {
                text-align: center;
                margin-top: 11%;
            }
            .but {
                margin-top: .2%;
            }
            .error {
                display: inline;
                position: absolute;
                color: red;
                font-weight: bold;
                right: 38%;
        </style>
</head>
<body>
<div th:insert="navbar :: navbar">  </div>
<form method="post" class="center" th:action="@{/manufacturers/createManufacturerForm}" th:object="${ManufacturerDto}">
    <label> Please, enter manufacturer_name of new manufacturer:</label><br>
    <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
    <input type="text" th:field="*{name}"><br>
    <button type="submit" class="but">Create</button>
</form>
</body>
</html>