<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Update user</title>
</head>
<body>
<div th:insert="navbar :: navbar">  </div>
<form method="post" class="center" th:action="@{/users/updateUserForm}" th:object="${UserDto}">
    <label>Please, enter new email:</label><br>
    <span class="email" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</span>
    <input type="text" th:field="*{email}" placeholder="Email"><br>
    <label>new password:</label><br>
    <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
    <input type="text" th:field="*{password}" placeholder="Password"><br>
    <label>new first name:</label><br>
    <span class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name Error</span>
    <input type="text" th:field="*{firstName}" placeholder="First name"><br>
    <label>new last name:</label><br>
    <span class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name Error</span>
    <input type="text" th:field="*{lastName}" placeholder="Last name"><br>
    <label>new role:</label><br>
    <span class="confirm" th:text="${roleDoesNotExists}">Role does not exists</span>
    <input type="search" list="myList" name="roleName" placeholder="Role"><br>
    <datalist id="myList">
        <option th:each="role : ${roles}" th:value="${role.name}" th:text="${role.name}"></option>
    </datalist>
    <label>old email of user to update:</label><br>
    <span class="confirm" th:text="${userDoesNotExists}">User does not exists</span>
    <input type="text" name="oldEmail" placeholder="Old email"><br>
    <button type="submit" class="but">Update</button>
</form>
</body>
</html>