.center {
     text-align: center;
     margin-top: 11%;
}
.but {
     margin-top: 1.1%;
}
.cent {
     text-align: center;
     margin-top: .4%;
}
.error {
     display: inline;
     position: absolute;
     color: red;
     font-weight: bold;
     right: 34%;
}
.email {
     display: inline;
     position: absolute;
     color: red;
     font-weight: bold;
     right: 25.9%;
}
.confirm {
     display: inline;
     position: absolute;
     color: red;
     font-weight: bold;
     right: 31%;
}
.user {
     display: inline;
     position: absolute;
     color: red;
     font-weight: bold;
     right: 33.1%;
 }
.success {
     color: green;
     font-weight: bold;
}
.failure {
     color: red;
     font-weight: bold;
}
@media (min-width: 1920px) {
.error {
     display: inline;
     position: absolute;
     color: red;
     font-weight: bold;
     right: 38%;
}
.email {
     display: inline;
     position: absolute;
     color: red;
     font-weight: bold;
     right: 31.5%;
}
.confirm {
     display: inline;
     position: absolute;
     color: red;
     font-weight: bold;
     right: 35%;
}
            .user {
                display: inline;
                position: absolute;
                color: red;
                font-weight: bold;
                right: 37.1%;
            }
        }