<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>Manufacturers</title>
        <style>
            .center {
                text-align: center;
                margin-top: 11%;
            }
            table {
                width: 380px;
                border: 1px solid black;
                margin: auto;
                text-align: center;
                border-collapse: collapse;
            }
            th {
                padding-left: 38px;
                padding-right: 38px;
            }
        </style>
    </head>
    <body>
    <div th:insert="navbar :: navbar">  </div>
        <div class ="center">
          <h2>Manufacturers</h2>
            <table border="2">
              <tr><th>manufacturer_id</th><th>name</th></tr>
                <tr th:each="manufacturer: ${manufacturers}">
                  <td th:text="${manufacturer.id}"></td>
                  <td th:text="${manufacturer.name}"></td>
                </tr>
            </table>
        </div>
    </body>
</html>