<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Log in</title>
</head>
<body>
<form autocomplete="off" method="post" class="center" th:action="@{/login}">
    <p class="success" th:text="${success}">Successful registration</p>
    <p class="failure" th:if="${param.error}" th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
       th:text="${errorMsg}">User or password do not exist</p>
    <label>Please, enter email:</label><br>
    <input type="text" placeholder="Email" name="email"><br>
    <label>and password:</label><br>
    <input type="password" placeholder="Password" name="password"><br>
    <button type="submit" class="but">Log in</button>
    <div class="cent">
    <label>or</label><br>
    <a th:href="@{/registration}" class="but">
        <button type="button">Register</button>
    </a>
    </div>
</form>
</body>
</html>