<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="navbar" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">GoIt java dev hw 8</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Manufacturers<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/manufacturers/createManufacturerForm">Create manufacturer</a></li>
          <li><a href="/manufacturers/deleteManufacturerForm">Delete manufacturer</a></li>
          <li><a href="/manufacturers/getManufacturers">Get manufacturers</a></li>
          <li><a href="/manufacturers/updateManufacturerForm">Update manufacturer</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Products<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/products/createProductForm">Create product</a></li>
          <li><a href="/deleteProductForm">Delete product</a></li>
          <li><a href="/getProductByNameForm">Get product by name</a></li>
          <li><a href="/getProducts">Get products</a></li>
          <li><a href="/updateProductForm">Update product</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Developers<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/createDeveloperForm">Create developer</a></li>
          <li><a href="/deleteDeveloperForm">Delete developer</a></li>
          <li><a href="/getDeveloperByIdForm">Get developer by id</a></li>
          <li><a href="/getDevelopers">Get developers</a></li>
          <li><a href="/getDevelopersByProjectForm">Get developers by project</a></li>
          <li><a href="/getDevelopersBySkillLevelForm">Get developers by skill level</a></li>
          <li><a href="/getDevelopersBySkillNameForm">Get developers by skill name</a></li>
          <li><a href="/getSalaryByProjectForm">Get salary by project</a></li>
          <li><a href="/updateDeveloperForm">Update developer</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/createProjectForm">Create project</a></li>
          <li><a href="/deleteProjectForm">Delete project</a></li>
          <li><a href="/getCustomizedProjects">Get customized projects</a></li>
          <li><a href="/getProjectByIdForm">Get project by id</a></li>
          <li><a href="/getProjects">Get projects</a></li>
          <li><a href="/updateProjectForm">Update project</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>