<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Registration</title>
    <style>
            .center {
                text-align: center;
                margin-top: 11%;
            }
            .but {
                margin-top: .2%;
            }
            .error {
                display: inline;
                position: absolute;
                color: red;
                font-weight: bold;
                right: 29%;
        </style>
</head>
<body>
<form method="post" class="center" th:action="@{/registration}" th:object="${UserDto}">
    <label>Please, enter email of new user:</label><br>
    <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</span>
    <input type="text" th:field="*{email}"><br>
    <label for="password">password of new user:</label><br>
    <input type="password" id="password" name="password"><br>
    <label for="confirm">confirm password:</label><br>
    <input type="password" id="confirm" name="confirm"><br>
    <label for="firstName">first_name of new user:</label><br>
    <input type="text" id="firstName" name="firstName"><br>
    <label for="lastName">last_name of new user:</label><br>
    <input type="text" id="lastName" name="lastName"><br>
    <button type="submit" class="but">Register</button>
</form>
</body>
</html>